body{
    margin: 0,10%,0,0;
    /* padding:0; */
    background-color: rgb(255, 255, 255);
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(122, 122, 122);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Onest;
    font-size: 15px;
  }
  
  li a:hover:not(.active) {
    background-color: #f38686;
  }
  
  li a.active {
    background-color: #6c91f7;
  }
.menu{
    top:5%;
    left:50%;
    text-align: center;
    font-family: Onest;
    color:rgb(75, 74, 74);
    font-size: 15px;
}
.head1a{
    /* position:absolute; */
    top:19%;
    padding-left:15%;
    /* transform:translate(-50%,-50%); */
    text-align: justify;
    font-family: Onest;
    color:rgb(0, 0, 0);
    font-size: 15px;
}
.para2{
    padding-top: 0%;
    font-family: Onest;
    color:rgb(0, 0, 0);
    font-size: 15px;
}
.div3{
    text-align: center;
    /* background-color: rgb(238, 238, 226); */
    height: 200px;
    width:100%;
    /* width:max-content; */
}
.div3a{
    text-align: justify;
    font-family: Onest;
    color:black;
    font-size: 15px;
    padding-top:1%;
    padding-left: 15%;
    padding-right: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5%;
    /* border: 1px solid rgb(175, 58, 58); */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
/* .shamyl-picture {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
} */

.center:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color:grey;
}
/* a:focus{
  color:black;
}
a:active{
  color:black;
} */