
.head1{
    color:white;
    text-align: center;
    padding-top:75px;
    line-height: 1%;
    font-family: Cambria;
    /* padding-bottom: 10; */
}
.head2{
    color:white;
    text-align: center;
    font-family: Cambria;
}
.para1{
    text-align: center;
    color:white;
    line-height: 0%;
}

.div1{
    
    background-color: #222;
    height: 200px;
}

.div3{
    text-align: center;
    background-color: rgb(238, 238, 226);
    /* width:max-content; */
}

