body{
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}

.div1{
    /* display:block; */
    /* background-color: #222; */
    height: 200px;
    width:100%;
    background: transparent;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    transform:rotate(180deg);
    position:relative;
    overflow:hidden;   
}
.div1:after{
    content:'';
    width:100%;
    height:200px;
    position: absolute;
    top:0;
    background: rgb(175, 58, 58);
}
.head1a{
    position:absolute;
    top:9%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: Cambria;
    color:white;
    font-size: 35px;
}
.para2{
    position:absolute;
    top:14%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: Cambria;
    color:white;
    font-size: 25px;
}
.div3{
    text-align: center;
    /* background-color: rgb(238, 238, 226); */
    height: 200px;
    width:100%;
    /* width:max-content; */
}
.div3a{
    text-align: justify;
    font-family: Cambria;
    color:black;
    font-size: 20px;
    padding-top:1%;
    padding-left: 15%;
    padding-right: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 25%;
    border: 1px solid rgb(175, 58, 58);
  }
